<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
<!-- BEGIN: PAGE CONTENT -->
<!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="c-content-feature-1 wow animate fadeInUp">
                    <div class="c-content-line-icon c-theme c-icon-screen-chart"></div>
                    <h3 class="c-font-uppercase c-font-bold">Fully responsive</h3>
                    <p class="c-font-thin">Beautiful cinematic designs optimized for all screen sizes and types. Compatible with Retina high pixel density displays.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                    <div class="c-content-line-icon c-theme c-icon-support"></div>
                    <h3 class="c-font-uppercase c-font-bold">Visual & Pragmatic</h3>
                    <p class="c-font-thin">Featuring trending modern web standards.
                        <br/>Clean and easy framework design for worry and hassle free customizations.</p>
                </div>
            </div>
            <div class="col-sm-4 c-card">
                <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                    <div class="c-content-line-icon c-theme c-icon-bulb"></div>
                    <h3 class="c-font-uppercase c-font-bold">Dedicated Support</h3>
                    <p class="c-font-thin">Quick response with regular updates.
                        <br/>Each update will include great new features and enhancements for free.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/FEATURES/FEATURES-1 -->
<!-- BEGIN: CONTENT/MISC/WHY-CHOOSE-US-1 -->
<div class="c-content-box c-size-lg c-bg-grey-1">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-7">
                    <div class="c-content-feature-5">
                        <div class="c-content-title-1 wow amimate fadeInDown">
                            <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">Why
                                <br/>JANGO ?</h3>
                            <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                        </div>
                        <div class="c-text wow animate fadeInLeft"> JANGO is the ultimate tool to power any of your projects. Corporate, ecommerce, SAAS, CRM and much more. </div>
                        <button type="submit" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn">Explore</button>
                        <img class="c-photo img-responsive wow animate fadeInUp" width="420" alt="" src="assets/base/img/content/misc/jango-intro-2.jpg" /> </div>
                </div>
                <div class="col-md-5">
                    <div class="c-content-accordion-1 c-theme wow animate fadeInRight">
                        <div class="panel-group" id="accordion" role="tablist">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Exceptional Frontend Framework </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body c-font-18"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Modern Design Trends </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body c-font-18"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Beatifully Crafted Code </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body c-font-18"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/WHY-CHOOSE-US-1 -->
<!-- BEGIN: CONTENT/TABS/TAB-1 -->
<div class="c-content-box c-size-md c-no-bottom-padding c-overflow-hide">
    <div class="c-container">
        <div class="row">
            <div class="col-md-12">
                <div class="c-content-title-1">
                    <h3 class="c-font-34 c-font-center c-font-bold c-font-uppercase c-margin-b-30"> JANGO'S Main Features </h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="c-content-tab-2 c-theme c-opt-1">
                    <ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
                        <li class="active">
                            <a href="#c-tab2-opt1-1" data-toggle="tab">
                                <span class="c-content-line-icon c-icon-25"></span>
                                <span class="c-title">Design</span>
                            </a>
                            <div class="c-arrow"></div>
                        </li>
                        <li>
                            <a href="#c-tab2-opt1-2" data-toggle="tab">
                                <span class="c-content-line-icon c-icon-19"></span>
                                <span class="c-title">Responsive</span>
                            </a>
                            <div class="c-arrow"></div>
                        </li>
                        <li>
                            <a href="#c-tab2-opt1-3" data-toggle="tab">
                                <span class="c-content-line-icon c-icon-14"></span>
                                <span class="c-title">Support</span>
                            </a>
                            <div class="c-arrow"></div>
                        </li>
                        <li>
                            <a href="#c-tab2-opt1-4" data-toggle="tab">
                                <span class="c-content-line-icon c-icon-20"></span>
                                <span class="c-title">Flexible</span>
                            </a>
                            <div class="c-arrow"></div>
                        </li>
                        <li>
                            <a href="#c-tab2-opt1-5" data-toggle="tab">
                                <span class="c-content-line-icon c-icon-33"></span>
                                <span class="c-title">Structured</span>
                            </a>
                            <div class="c-arrow"></div>
                        </li>
                    </ul>
                    <div class="c-tab-content">
                        <div class="c-bg-img-center1" style="background-image: url(assets/base/img/content/backgrounds/bg-62.jpg)">
                            <div class="container">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="c-tab2-opt1-1">
                                        <div class="c-tab-pane">
                                            <img class="img-responsive" src="assets/base/img/content/stock2/3.jpg" alt="" />
                                            <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Modern Design Trends</h4>
                                            <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                                                veniam, exerci tation suscipit ad minim veniam, exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat exerci tation suscipit lobortis nisl ut laoreet dolore magna aliquam ut
                                                aliquip ex ea commodo consequat. </p>
                                            <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"> EXPLORE </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="c-tab2-opt1-2">
                                        <div class="c-tab-pane">
                                            <img class="img-responsive" src="assets/base/img/content/stock2/04.jpg" alt="" />
                                            <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Optimzied For All Screen Sizes & Types</h4>
                                            <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, exerci tation suscipit
                                                lobortis nisl ut aliquip ex ea commodo consequat exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                                            <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                                            EXPLORE </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="c-tab2-opt1-3">
                                        <div class="c-tab-pane">
                                            <img class="img-responsive" src="assets/base/img/content/stock2/5.jpg" alt="" />
                                            <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Dedicated Support To All Customers</h4>
                                            <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, exerci tation suscipit
                                                enim ad minim veniam lobortis nisl ut aliquip ex ea commodo consequat exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                                            <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold">
                                            EXPLORE </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="c-tab2-opt1-4">
                                        <div class="c-tab-pane">
                                            <img class="img-responsive" src="assets/base/img/content/stock2/06.jpg" alt="" />
                                            <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Coded By Developers For Developers</h4>
                                            <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed enim ad minim veniam diam nonummy nibh euismod tincidunt ut enim ad minim veniam laoreet dolore magna aliquam erat volutpat. Ut wisi
                                                enim ad minim veniam, exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                                            <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"> EXPLORE </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="c-tab2-opt1-5">
                                        <div class="c-tab-pane">
                                            <img class="img-responsive" src="assets/base/img/content/stock2/6.jpg" alt="" />
                                            <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Unlimited Flexible Multi-purpose Layouts & Components</h4>
                                            <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin "> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed enim ad minim veniam diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                                exerci tation suscipit lobortis nisl ut aliquip ex ea commodo consequat enim ad minim veniam. </p>
                                            <button class="btn btn-sm c-theme-btn c-btn-square c-btn-bold"> EXPLORE </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/TABS/TAB-1 -->
<!-- BEGIN: CONTENT/BARS/BAR-5 -->
<div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(assets/base/img/content/backgrounds/bg-13.jpg)">
    <div class="container">
        <div class="c-content-bar-4">
            <h3 class="c-font-uppercase c-font-bold">Clean HTML & CSS
                <br/>JANGO is Launch Ready</h3>
            <div class="c-actions">
                <a href="#" class="btn btn-md c-btn-border-2x c-btn-square c-btn-white c-btn-uppercase c-btn-bold c-margin-b-100">Learn More</a>
                <a href="http://themeforest.net/item/jango-responsive-multipurpose-html5-template/11987314" class="btn btn-md c-theme-btn c-btn-square c-btn-uppercase c-btn-bold c-theme-btn c-margin-b-100 hide">Purchase</a>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/BARS/BAR-5 -->
<!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
<div class="c-content-box c-size-sm c-bg-dark">
    <div class="container">
        <div class="c-content-subscribe-form-1">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="c-title c-font-30 c-font-uppercase c-font-bold">Subscribe to our newsletter</h3>
                    <div class="c-body c-font-16 c-font-uppercase c-font-sbold">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod</div>
                </div>
                <div class="col-sm-6">
                    <form action="#">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control input-lg" placeholder="Your Email Here">
                            <span class="input-group-btn">
                                <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">SUBSCRIBE</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
<!-- END: PAGE CONTENT -->
</div>
<!-- END: PAGE CONTAINER -->